{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="DIV_1">
            <h1 id="H1_2">
                Tombola
            </h1>
            <div id="content_first" class="clearfix">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="left">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}<br>
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}<br>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}<br>
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}<br>


                {{ form_label(form.code_personnel) }}
                {{ form_widget(form.code_personnel) }}<br>
                <p>Vous pouvez retrouver le règlement en cliquant <a target="_blank" href="/bundles/app/images/reglement.pdf">ici</a>.<br> Attention une fois le formulaire envoyé vous ne pourrez plus accèder à cette page. </p>
                {{ form_widget(form.save) }}

            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Calibri Light';

    }
    label {
        background: orangered;
        padding:5px;
        color: #FFFFFF;
    }
    input {
        height: 22px;
    }
    form{
        min-width: 100px;
        display: inline-block;
    }

    form input{
        float: right;
    }

    form label{
        display: inline-block;
        margin-bottom: 2px;
        background: orangered;
        width: 78px;
    }
    .right label{
        width: 150px;
    }
    .left {
        float: left;
        width: 275px;
        margin-top: 40px;
    }
    .right {
        float: right;
        width:345px;
        margin-left: 30px;
        margin-top: 40px;
    }
    #form_save {
        height:40px;
        background: orangered;
    }
    /*@media screen and (max-width: 980px)
    {
        .right {
             float: none;
            width: 320px;
            margin-top: 15px;
            margin-left: 0px;
        }
        .left {
             float: none;
             width: 266px;
            margin-right: 0px;
            margin-top: 0px;
            display: block;
        }
        form input {
            float: none;
        }
    }*/
</style>
{% endblock %}


{% block javascripts %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(".footer").hide();
    </script>
{% endblock %}