<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Cepsa Sochaux | Tombola{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
    <script src="{{ asset('/bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/Nibbler.js') }}"></script>
</head>
<body>
<div id="wrapper">
    <div id="container">
        <div id="DIV_1">
            {{ form_start(form) }}
            <fieldset>
            {{ form_widget(form) }}
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript"></script>
<style>
    body {
        font-family: Calibri Light;

    }
    label {
        background: orangered;
        padding:5px;
        color: #FFFFFF;
    }
    input {
        height: 25px;
    }
    fieldset {
        min-width: 100px;
        display: inline-block;
    }
</style>
</body>
</html>



