{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">



                <p>
                    <?php  echo "salut"; ?>
                </p>



        </div>
    </div>
    <footer class="footer clearfix"><div class="footer-top">
            <div class="inner">
                <a href="http://www.cepsa-sochaux.com/"><img src=" {{ asset('/bundles/app/images/accueil.png')}}" alt="">Accueil</a>
                <a href="http://www.cepsa-sochaux.com/informations/nous-contacter.html"><img src="{{ asset('/bundles/app/images/contact.png')}}" alt="">Contact</a>
                <a href="http://www.cepsa-sochaux.com/inscription-newsletter.html"><img src="{{ asset('/bundles/app/images/newsletter.png')}}" alt="">Newsletter</a>
                <a target="_blank" href="https://www.facebook.com/CE-Peugeot-Citroen-Sochaux-1255918834425618/"><img src="{{ asset('/bundles/app/images/fb-footer.png')}}" alt="">Facebook</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-image: url({{ asset('/bundles/app/images/cepsa.JPG') }});
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .footer {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        text-align: center;
    }
    .footer-top {
        float: left;
        width: 100%;
        padding: 24px 0px;
        background-size: contain;
        background-color: #1197d0;
        text-align: center;
    }
    .inner {
        max-width: 1178px;
        margin: 0px auto;
        width: 100%;
    }
    .footer-top a {
        width: 10%;
        text-align: center;
        color: #FFF;
        margin: 0px 5%;
        font-size: 14px;
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .footer-top img {
        width: 80%;
        margin: 7px auto;
        display: block;
    }
    .clearfix:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
</style>
{% endblock %}


