{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquete de satifsaction
                </h1>
                <p id="P_3">
                    Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid velimus, perfecta quidem sapientia si simus, nihil habeat res vitii; sed loquimur de iis amicis qui ante oculos sunt, quos vidimus aut de quibus memoriam accepimus, quos novit vita communis. Ex hoc numero nobis exempla sumenda sunt, et eorum quidem maxime qui ad sapientiam proxime accedunt.<br id="BR_4" />
                    <button id="BUTTON_5">
                        Démarrer
                    </button>
                </p>
            </div>
        </div>
    </div>
    <footer class="footer clearfix"><div class="footer-top">
            <div class="inner">
                <a href="http://www.cepsa-sochaux.com/"><img src=" {{ asset('/bundles/app/images/accueil.png')}}" alt="">Accueil</a>
                <a href="http://www.cepsa-sochaux.com/informations/nous-contacter.html"><img src="{{ asset('/bundles/app/images/contact.png')}}" alt="">Contact</a>
                <a href="http://www.cepsa-sochaux.com/inscription-newsletter.html"><img src="{{ asset('/bundles/app/images/newsletter.png')}}" alt="">Newsletter</a>
                <a target="_blank" href="https://www.facebook.com/CE-Peugeot-Citroen-Sochaux-1255918834425618/"><img src="{{ asset('/bundles/app/images/fb-footer.png')}}" alt="">Facebook</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
<style>

    #DIV_1 {
        margin-top: 50px;
    }

    #H1_2 {
        color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        text-decoration: none solid rgb(255, 255, 255);
        top: 0px;
        width: 360px;
        background: rgb(17, 151, 208) none repeat scroll 0% 0% / auto padding-box border-box;
        padding: 10px;
        margin: 0 auto;
    }/*#H1_2*/

    #P_3 {
        width: 750px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border-radius: 5px 5px 5px 5px;
        font: normal normal normal normal 16px / normal "calibri Light";
        margin: 0 auto;
        padding: 30px 30px 20px;
    }

    #BR_4 {
        font: normal normal normal normal 16px / normal "calibri Light";
    }/*#BR_4*/

    #BUTTON_5 {
        color: rgb(255, 255, 255);
        height: 37px;
        text-decoration: none solid rgb(255, 255, 255);
        width: 82px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 41px 18.5px;
        transform-origin: 41px 18.5px;
        caret-color: rgb(255, 255, 255);
        background: rgb(247, 77, 46) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(255, 255, 255);
        border-radius: 5px 5px 5px 5px;
        font: normal normal normal normal 15px / normal Arial;
        margin: 20px 0px 0px;
        outline: rgb(255, 255, 255) none 0px;
        padding: 10px;
    }/*#BUTTON_5*/
    body {
        background-image: url({{ asset('/bundles/app/images/cepsa.JPG') }});
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .footer {
        position: absolute;
        right: 0;
        text-align: center;
        margin: 0 auto;
        bottom: 20px;
        background-color: #1197d0;
        left: 0;
        text-align: center;
    }
    .footer-top {
        /* float: left; */
        width: 50%;
        /* height: 20px; */
        padding: 10px 0px;
        margin: 0 auto;
        /* background-size: contain; */
        /* background-color: #1197d0; */
        /* text-align: center; */
    }
    .inner {
        max-width: 1178px;
        margin: 0px auto;
        width: 100%;
    }
    .footer-top a {
        width: 10%;
        text-align: center;
        color: #FFF;
        margin: 0px 5%;
        font-size: 14px;
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .footer-top img {
        width: 80%;
        margin: 7px auto;
        display: block;
    }
    .clearfix:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    @media screen and (max-width: 1100px)
    {
        body {
            background-position: 16% 27%;
            background-size: auto;
        }
        #H1_2 {
            width: 100%;
            font-size: 4rem;
        }
        #P_3 {
            width: 99%;
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            font: normal normal normal normal 16px / normal "calibri Light";
            margin: 0 auto;
            font-size: 2rem;
            padding: 20px;
        }
    }
</style>
{% endblock %}


