    {% extends 'base.html.twig' %}

    {% block body %}
        <div id="wrapper">
            <div id="container">
                <div id="DIV_1">
                    <h1 id="H1_2">
                        Enquête de satisfaction
                    </h1>
                    <div id="content_first" class="clearfix">
                        <form name="presta" method="post" id="myForm">
                        <h2> Par quels moyens préférez-vous recevoir les informations ?</h2>
                        <h4>Du N°1 à 10, le premier étant celui que vous appréciez le plus</h4>
                            <div class="clearfix">
                            <div class="left">
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_1' name="select_1">
                                <option selected disabled>1</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_2' name="select_2">
                                <option selected disabled>2</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_3' name="select_3">
                                <option selected disabled>3</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_4' name="select_4">
                                <option selected disabled>4</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_5' name="select_5">
                                <option selected disabled>5</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                            </div>
                            <div class="right">
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_6' name="select_6">
                                <option selected disabled>6</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_7' name="select_7">
                                <option selected disabled>7</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_8' name="select_8">
                                <option selected disabled>8</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                    </div>
                    <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_9' name="select_9">
                                <option selected disabled>9</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                            </div>
                            <div class="mySelect">

                            <select class="custom-dropdown__select custom-dropdown__select--white" id='select_10' name="select_10">
                                <option selected disabled>10</option>
                                <option value="1">Le site internet</option>
                                <option value="2">La newsletter</option>
                                <option value="3">La page Facebook</option>
                                <option value="4">Le Mag'CE</option>
                                <option value="5">La lettre CE Mensuelle</option>
                                <option value="6">Plaquettes CE (Billeterie, Guide bon plans...)</option>
                                <option value="7">Affichages</option>
                                <option value="8">Infos par les élus syndicaux</option>
                                <option value="9">Infos par le personnel CE</option>
                                <option value="10">Écran dans le hall d'accueil</option>
                            </select>
                                </div>
                            </div>
                            </div>
                        <input class="btn" type="submit" value="Suivant" name="submit2">
                            <a class="prec" href="/{{ number-1 }}">Précédent</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block stylesheets %}
        <style>
            .cnt {
                width: 850px;
            }
            .left{
                float: left;
            }
            .right{
                float: right;
            }
            .mySelect {
                display: block;
                margin-top: 10px;
                width: 20%;
            }
            .custom-dropdown--large {
                font-size: 1.5em;
            }

            .custom-dropdown--small {
                font-size: .7em;
            }

            .custom-dropdown__select{
                font-size: inherit; /* inherit size from .custom-dropdown */
                padding: .5em; /* add some space*/
                margin: 0; /* remove default margins */
            }

            .custom-dropdown__select--white {
                background-color: #fff;
                color: #444;
            }

            @supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

                .custom-dropdown {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                }

                .custom-dropdown__select {
                    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
                    border: 0;
                    border-radius: 3px;
                    border: 1px solid #03A9F4;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                .custom-dropdown::before,
                .custom-dropdown::after {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                }

                .custom-dropdown::after { /*  Custom dropdown arrow */
                    content: "\25BC";
                    height: 1em;
                    font-size: .625em;
                    line-height: 1;
                    right: 1.2em;
                    top: 50%; margin-top: -.5em;
                }

                .custom-dropdown::before { /*  Custom dropdown arrow cover */
                    width: 2em;
                    right: 0; top: 0; bottom: 0;
                }

                .custom-dropdown__select[disabled] {
                    color: rgba(0,0,0,.3);
                }

                .custom-dropdown.custom-dropdown--disabled::after {
                    color: rgba(0,0,0,.1);
                }

                /* White dropdown style */
                .custom-dropdown--white::before {
                    background-color: #03A9F4;
                }

                .custom-dropdown--orange::before {
                    background-color: orangered;
                }

                .custom-dropdown--white::after, .custom-dropdown--orange::after {
                    color: rgba(255,255,255,1);
                }
                .orange {
                    border:1px solid orangered;
                }

                /* FF only temp fix */
                @-moz-document url-prefix() {
                    .custom-dropdown__select              { padding-right: .9em }
                    .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
                    .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
                }
            }
            select#soflow, select#soflow-color {
                -webkit-appearance: button;
                -webkit-border-radius: 2px;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                -webkit-padding-end: 20px;
                -webkit-padding-start: 2px;
                -webkit-user-select: none;
                background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
                background-position: 97% center;
                background-repeat: no-repeat;
                border: 1px solid #AAA;
                color: #555;
                font-size: inherit;
                margin: 20px;
                overflow: hidden;
                padding: 5px 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 300px;
            }
        </style>
    {% endblock %}

    {% block javascripts %}

      <script type="text/javascript">
          $('.btn').prop("disabled",true);
          {% if not responses=="" %}
          var    sel1={{ responses[0].value }};
          var    sel2={{ responses[1].value }};
          var    sel3={{ responses[2].value }};
          var    sel4={{ responses[3].value }};
          var    sel5={{ responses[4].value }};
          var    sel6={{ responses[5].value }};
          var    sel7={{ responses[6].value }};
          var    sel8={{ responses[7].value }};
          var    sel9={{ responses[8].value }};
          var    sel10={{ responses[9].value }};

          $('#select_1').val(sel1);
          $('#select_2').val(sel2);
          $('#select_3').val(sel3);
          $('#select_4').val(sel4);
          $('#select_5').val(sel5);
          $('#select_6').val(sel6);
          $('#select_7').val(sel7);
          $('#select_8').val(sel8);
          $('#select_9').val(sel9);
          $('#select_10').val(sel10);


          $('.btn').prop("disabled",false);
          $('.btn').css("background", "#1197d0");


          {% endif %}
          $("select").on('change', function(){
              var sel1 = $('#select_1').val();
              var sel2 = $('#select_2').val();
              var sel3 = $('#select_3').val();
              var sel4 = $('#select_4').val();
              var sel5 = $('#select_5').val();
              var sel6 = $('#select_6').val();
              var sel7 = $('#select_7').val();
              var sel8 = $('#select_8').val();
              var sel9 = $('#select_9').val();
              var sel10 = $('#select_10').val();


              $("select option").show();

              if( sel1==null || sel2==null || sel3==null || sel4==null || sel5==null|| sel6==null|| sel7==null|| sel8==null|| sel9==null|| sel10==null){
                  $('.btn').prop("disabled",true);
              }
              else {
                  $('.btn').prop("disabled",false);
                  $('.btn').css("background", "#1197d0");
              }

              $("#select_1  option[value=" + sel2 + "]").hide();
              $("#select_1  option[value=" + sel3 + "]").hide();
              $("#select_1  option[value=" + sel4 + "]").hide();
              $("#select_1  option[value=" + sel5 + "]").hide();
              $("#select_1  option[value=" + sel6 + "]").hide();
              $("#select_1  option[value=" + sel7 + "]").hide();
              $("#select_1  option[value=" + sel8 + "]").hide();
              $("#select_1  option[value=" + sel9 + "]").hide();
              $("#select_1  option[value=" + sel10 + "]").hide();

              $("#select_2  option[value=" + sel1 + "]").hide();
              $("#select_2  option[value=" + sel3 + "]").hide();
              $("#select_2  option[value=" + sel4 + "]").hide();
              $("#select_2  option[value=" + sel5 + "]").hide();
              $("#select_2  option[value=" + sel6 + "]").hide();
              $("#select_2  option[value=" + sel7 + "]").hide();
              $("#select_2  option[value=" + sel8 + "]").hide();
              $("#select_2  option[value=" + sel9 + "]").hide();
              $("#select_2  option[value=" + sel10 + "]").hide();

              $("#select_3  option[value=" + sel1 + "]").hide();
              $("#select_3  option[value=" + sel2 + "]").hide();
              $("#select_3  option[value=" + sel4 + "]").hide();
              $("#select_3  option[value=" + sel5 + "]").hide();
              $("#select_3  option[value=" + sel6 + "]").hide();
              $("#select_3  option[value=" + sel7 + "]").hide();
              $("#select_3  option[value=" + sel8 + "]").hide();
              $("#select_3  option[value=" + sel9 + "]").hide();
              $("#select_3  option[value=" + sel10 + "]").hide();

              $("#select_4  option[value=" + sel1 + "]").hide();
              $("#select_4  option[value=" + sel3 + "]").hide();
              $("#select_4  option[value=" + sel2 + "]").hide();
              $("#select_4  option[value=" + sel5 + "]").hide();
              $("#select_4  option[value=" + sel6 + "]").hide();
              $("#select_4  option[value=" + sel7 + "]").hide();
              $("#select_4  option[value=" + sel8 + "]").hide();
              $("#select_4  option[value=" + sel9 + "]").hide();
              $("#select_4  option[value=" + sel10 + "]").hide();

              $("#select_5  option[value=" + sel1 + "]").hide();
              $("#select_5  option[value=" + sel3 + "]").hide();
              $("#select_5  option[value=" + sel2 + "]").hide();
              $("#select_5  option[value=" + sel4 + "]").hide();
              $("#select_5  option[value=" + sel6 + "]").hide();
              $("#select_5  option[value=" + sel7 + "]").hide();
              $("#select_5  option[value=" + sel8 + "]").hide();
              $("#select_5  option[value=" + sel9 + "]").hide();
              $("#select_5  option[value=" + sel10 + "]").hide();

              $("#select_6  option[value=" + sel1 + "]").hide();
              $("#select_6  option[value=" + sel3 + "]").hide();
              $("#select_6  option[value=" + sel2 + "]").hide();
              $("#select_6  option[value=" + sel4 + "]").hide();
              $("#select_6  option[value=" + sel5 + "]").hide();
              $("#select_6  option[value=" + sel7 + "]").hide();
              $("#select_6  option[value=" + sel8 + "]").hide();
              $("#select_6  option[value=" + sel9 + "]").hide();
              $("#select_6  option[value=" + sel10 + "]").hide();

              $("#select_7  option[value=" + sel1 + "]").hide();
              $("#select_7  option[value=" + sel3 + "]").hide();
              $("#select_7  option[value=" + sel2 + "]").hide();
              $("#select_7  option[value=" + sel4 + "]").hide();
              $("#select_7  option[value=" + sel6 + "]").hide();
              $("#select_7  option[value=" + sel5 + "]").hide();
              $("#select_7  option[value=" + sel8 + "]").hide();
              $("#select_7  option[value=" + sel9 + "]").hide();
              $("#select_7  option[value=" + sel10 + "]").hide();

              $("#select_8  option[value=" + sel1 + "]").hide();
              $("#select_8  option[value=" + sel3 + "]").hide();
              $("#select_8  option[value=" + sel2 + "]").hide();
              $("#select_8  option[value=" + sel4 + "]").hide();
              $("#select_8  option[value=" + sel6 + "]").hide();
              $("#select_8  option[value=" + sel7 + "]").hide();
              $("#select_8  option[value=" + sel5 + "]").hide();
              $("#select_8  option[value=" + sel9 + "]").hide();
              $("#select_8  option[value=" + sel10 + "]").hide();

              $("#select_9  option[value=" + sel1 + "]").hide();
              $("#select_9  option[value=" + sel3 + "]").hide();
              $("#select_9  option[value=" + sel2 + "]").hide();
              $("#select_9  option[value=" + sel4 + "]").hide();
              $("#select_9  option[value=" + sel6 + "]").hide();
              $("#select_9  option[value=" + sel7 + "]").hide();
              $("#select_9  option[value=" + sel8 + "]").hide();
              $("#select_9  option[value=" + sel5 + "]").hide();
              $("#select_9  option[value=" + sel10 + "]").hide();

              $("#select_10  option[value=" + sel1 + "]").hide();
              $("#select_10 option[value=" + sel3 + "]").hide();
              $("#select_10 option[value=" + sel2 + "]").hide();
              $("#select_10 option[value=" + sel4 + "]").hide();
              $("#select_10 option[value=" + sel6 + "]").hide();
              $("#select_10 option[value=" + sel7 + "]").hide();
              $("#select_10 option[value=" + sel8 + "]").hide();
              $("#select_10 option[value=" + sel9 + "]").hide();
              $("#select_10 option[value=" + sel5 + "]").hide();


          });
      </script>
    {% endblock %}


