    {% extends 'base.html.twig' %}

    {% block body %}
        <div id="wrapper">
            <div id="container">
                <div id="DIV_1">
                    <h1 id="H1_2">
                        Enquête de satisfaction
                    </h1>
                    <div id="content_first" class="clearfix">
                        <form name="presta" method="post" id="myForm">
                            <div class="block">
                                <h2> Connaissez-vous l'espace personnel disponible sur le site internet du CE ?</h2>
                                <input type="radio" name="espace_perso" value="1">
                                <label for="bouton_1">Oui</label>
                                <input type="radio" name="espace_perso" value="0">
                                <label for="bouton_2">Non</label>
                            </div>
                            <div class="block">
                                <h2>Numérotez par ordre de préférence ce que vous souhaiteriez réaliser via cet espace ?</h2>
                                <h4>Du N°1 : ce qui m'intéresse le plus au N°4 : ce qui m'intéresse le moins</h4>
                                <table>
                                    <tr>
                                        <th>LE SUIVI DE VOS REMBOURSEMENTS</th>
                                        <th>DEMANDER VOTRE<br> CARTE CE</th>
                                        <th>TRANSMETTRE VOS DOSSIERS</th>
                                        <th>DEMANDER UN <br>RENDEZ-VOUS</th>
                                    </tr>
                                    <tr>
                                        <td><select id='espace_1' name="espace_1" >  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                        <td><select id='espace_2' name="espace_2" >  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                        <td><select id='espace_3' name="espace_3" >  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                        <td><select id='espace_4' name="espace_4" >  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                    </tr>
                                </table>
                                <br><br>
                                <h4>
                                    Autre suggestion :
                                </h4>
                                <textarea style="width: 845px;" type="text" name="espace_5" ></textarea>
                            </div>
                            <div class="block">
                                <h2>Par ordre de préférence, vous souhaiteriez une communication...</h2>
                                <h4>Du N°1 : ce qui m'intéresse le plus au N°4 : ce qui m'intéresse le moins</h4>
                                <table>
                                <tr>
                                    <th>PLUS RAPIDE</th>
                                    <th>PLUS DETAILLÉE</th>
                                    <th>PLUS PRESENTE SUR L'USINE</th>
                                    <th>PLUS PERSONNALISÉE</th>
                                </tr>
                                <tr>
                                    <td><select id='comm_1' name="comm_1">  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                    <td><select id='comm_2' name="comm_2">  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                    <td><select id='comm_3' name="comm_3">  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                    <td><select id='comm_4' name="comm_4">  <option selected disabled>--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                </tr>
                                </table>
                                <br><br>
                                <h4>
                                    Autre suggestion :
                                </h4>
                                <textarea style="width: 845px;" type="text" name="comm_5" ></textarea>
                            </div>
                            <input class="btn" type="submit" value="Suivant" name="submit2">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block stylesheets %}
        <style>
            /* Masquer le bouton radio d'origine */
            input[type=radio]{
                display: none;
            }
            /* Affichage par défaut du bouton radio personnalisé */
            input[type=radio] + label:before {
                background: #fff;
                border: 2px solid #ccc;
                border-radius: 50%;
                margin-top: -3px;
                margin-right: 6px;
                display: inline-block;
                vertical-align: middle;
                content: '';
                width: 17px;
                height: 17px;
            }
            /* Affichage du bouton radio personnalisé quand il est sélectionné */
            input[type=radio]:checked + label:before {
                background: rgb(207,  233, 246);
                border-color: rgb(207,  233, 246);
                box-shadow: inset 0px 0px 0px 2px #fff;
            }
            .element{
                margin-bottom:14px;
            }
            label{
                cursor:pointer;
            }

            h4{
                margin-top: -15px;
            }
            table {
                width: 100%;
            }
            tr th{
                background: rgb(207,  233, 246);
                padding: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
            tr td select {
                width: 100%;
                height: 40px;
                font-size: 20px;
                padding-left: 44%;
                text-align: center;
            }

            #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
            #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
            html>body #sortable li { height: 1.5em; line-height: 1.2em;    border: 1px solid #1197d0; }
            html>body #sortable li:hover { color:white; background:#1197d0;  }
            .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
        </style>
    {% endblock %}

    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
            $('.btn').prop("disabled",true);
            {% if not responses=="" %}
            var    espace_1={{ responses[0].value }};
            var    espace_2={{ responses[1].value }};
            var    espace_3={{ responses[2].value }};
            var    espace_4={{ responses[3].value }};
            var    espace_5={{ responses[4].value }};
            var    comm_1={{ responses[5].value }};
            var    comm_2={{ responses[6].value }};
            var    comm_3={{ responses[7].value }};
            var    comm_4={{ responses[8].value }};
            var    comm_5={{ responses[9].value }};

            $('#espace_1').val(espace_1);
            $('#espace_2').val(espace_2);
            $('#espace_3').val(espace_3);
            $('#espace_4').val(espace_4);
            $('#espace_5').val(espace_5);

            $('#comm_1').val(comm_1);
            $('#comm_2').val(comm_2);
            $('#comm_3').val(comm_3);
            $('#comm_4').val(comm_4);
            $('#comm_5').val(comm_5);

            $('.btn').prop("disabled",false);
            $('.btn').css("background", "#1197d0");


            {% endif %}
            $("select").on('change', function(){
                var espace_1= $('#espace_1').val();
                var espace_2= $('#espace_2').val();
                var espace_3= $('#espace_3').val();
                var espace_4= $('#espace_4').val();
                var espace_5= $('#espace_5').val();

                var comm_1 = $('#comm_1').val();
                var comm_2= $('#comm_2').val();
                var comm_3 = $('#comm_3').val();
                var comm_4= $('#comm_4').val();
                var comm_5= $('#comm_5').val();

                $("select option").show();

                if( espace_1==null || espace_2==null || espace_3==null || espace_4==null || espace_5==null || comm_1==null || comm_2==null || comm_3==null || comm_4==null || comm_5==null){
                    $('.btn').prop("disabled",true);
                }
                else {
                    $('.btn').prop("disabled",false);
                    $('.btn').css("background", "#1197d0");
                }

                $("#espace_1  option[value=" + espace_2 + "]").hide();
                $("#espace_1  option[value=" + espace_3 + "]").hide();
                $("#espace_1  option[value=" + espace_4 + "]").hide();
                $("#espace_1  option[value=" + espace_5 + "]").hide();

                $("#espace_2  option[value=" + espace_1 + "]").hide();
                $("#espace_2  option[value=" + espace_3 + "]").hide();
                $("#espace_2  option[value=" + espace_4 + "]").hide();
                $("#espace_2  option[value=" + espace_5 + "]").hide();

                $("#espace_3  option[value=" + espace_1 + "]").hide();
                $("#espace_3  option[value=" + espace_2 + "]").hide();
                $("#espace_3  option[value=" + espace_4 + "]").hide();
                $("#espace_3  option[value=" + espace_5 + "]").hide();

                $("#espace_4  option[value=" + espace_1 + "]").hide();
                $("#espace_4  option[value=" + espace_2 + "]").hide();
                $("#espace_4  option[value=" + espace_3 + "]").hide();
                $("#espace_4  option[value=" + espace_5 + "]").hide();

                $("#espace_5  option[value=" + espace_1 + "]").hide();
                $("#espace_5  option[value=" + espace_2 + "]").hide();
                $("#espace_5  option[value=" + espace_3 + "]").hide();
                $("#espace_5  option[value=" + espace_4 + "]").hide();

                /***********************************************/


                $("#comm_1  option[value=" + comm_2 + "]").hide();
                $("#comm_1  option[value=" + comm_3 + "]").hide();
                $("#comm_1  option[value=" + comm_4 + "]").hide();
                $("#comm_1  option[value=" + comm_5 + "]").hide();

                $("#comm_2  option[value=" + comm_1 + "]").hide();
                $("#comm_2  option[value=" + comm_4 + "]").hide();
                $("#comm_2  option[value=" + comm_3 + "]").hide();
                $("#comm_2  option[value=" + comm_5 + "]").hide();

                $("#comm_3  option[value=" + comm_1 + "]").hide();
                $("#comm_3  option[value=" + comm_2 + "]").hide();
                $("#comm_3  option[value=" + comm_4 + "]").hide();
                $("#comm_3  option[value=" + comm_5 + "]").hide();

                $("#comm_4  option[value=" + comm_1 + "]").hide();
                $("#comm_4  option[value=" + comm_2 + "]").hide();
                $("#comm_4  option[value=" + comm_3 + "]").hide();
                $("#comm_4  option[value=" + comm_5 + "]").hide();

                $("#comm_5  option[value=" + comm_1 + "]").hide();
                $("#comm_5  option[value=" + comm_2 + "]").hide();
                $("#comm_5  option[value=" + comm_3 + "]").hide();
                $("#comm_5  option[value=" + comm_4 + "]").hide();

            });

        </script>
    {% endblock %}


