{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>

                <div id="content_first" class="clearfix">
                    <h2>{{ page.description }}</h2>
                    <form name="first" method="post" id="myForm">
                    <table>
                        <tr>
                            {% if page.id == 8  %}
                                <th style="width:200px;">MOYENS D'INFORMATION</th>
                            {% elseif page.id == 7 %}
                                <!-- NOTHING -->
                            {% else %}
                                <th style="width:200px;text-transform: uppercase;">{{ page.titre }}</th>
                            {% endif %}
                            {% for txt in choices %}
                                <th>{{ txt }}</th>
                            {% endfor %}
                            <th>les raisons pour vos réponses "plutôt non" ou "non pas du tout"</th>
                        </tr>
                        {% set k = 0 %}
                        {% for question in questions %}
                            <tr>
                                {% if page.id == 7 %}{% else %}<td><span style="font-weight: bold;">{{ question.titre }}</span><span class="italique">{{ question.description }}</span></td>{% endif %}
                                {% for i in 0..(page.nombre-1) %}
                                    {% if not reponses=="" %}

                                        {% if reponses[k].value==i %}
                                        <td class="table_input"><input type="radio" value="{{ i }}" checked id="question_{{ question.id }}" name="question_{{ question.id }}">
                                        {% else %}
                                            <td class="table_input"><input type="radio" value="{{ i }}" id="question_{{ question.id }}" name="question_{{ question.id }}"></td>
                                        {% endif %}
                                    {% else %}
                                        <td class="table_input"><input type="radio" value="{{ i }}" id="question_{{ question.id }}" name="question_{{ question.id }}"></td>
                                    {% endif %}
                                {% endfor %}
                                {% if not reponses=="" %}

                                    {% if reponses[k].value>=3 %}
                                        <td><textarea type="text" id="question_{{ question.id }}_text" name="question_{{ question.id }}_text">{{ reponses[k].more }}</textarea></td>
                                    {% else %}
                                        <td><textarea type="text" id="question_{{ question.id }}_text" name="question_{{ question.id }}_text"></textarea></td>
                                    {% endif %}
                                {% else %}
                                    <td><textarea type="text" id="question_{{ question.id }}_text" name="question_{{ question.id }}_text"></textarea></td>
                                {% endif %}

                            </tr>
                        {% set k = k+1 %}
                        {% endfor %}
                    </table>
                        <input class="btn" type="submit" value="Suivant" name="submit">
                        <a class="prec" href="/{{ number-1 }}">Précédent</a>
                    </form>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                    <p id="text_prog">{{ number*10-10 }}%</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        #text_prog {
        {% if number > 5 %}
            color: white;
        {% else %}
            color: black;
        {% endif %}

            text-align: center;
            margin-top: -17px;
            margin-left: 60px;
        }
        #myProgress {
            margin: 0 auto;
            margin-top: 45px;
            width: 50%;
            background-color: #ddd;
        }

        #myBar {
            width: {{ number*10-10 }}%;
            height: 15px;
            text-align: center;
            color: black;
            background-color: #FF5722;
        }
        #content_first::-moz-placeholder {
            font-family: 'Calibri Light', Calibri, Arial, Helvetica, sans-serif;
        }
        .col_id {
            text-align: center;
            color:white;
            background: orangered;
        }
        .active{
            background: rgb(246, 114, 71);
        }
        textarea {
            width: 99%;
            height: 40px;
            margin: 0px;
        }
        .table_input {
            text-align: center;
        }
        th {
            background-color: #1197d0;
            color: white;
            padding: 5px;
            font-weight: normal;
        }
        td {
            /*width: 50px;*/
        }

        tr:nth-child(odd) {
            background: rgb(207,  233, 246);
        }
        .warning {
            border:1px solid palevioletred;
        }
        h3 {
            color: white;
            background: orangered;
            width: 100px;
            padding: 5px;
            text-align: center;
        }
        @media screen and (max-width: 640px) {
            table,
            tbody,
            tr,
            td {
                /*display: block;*/
                width: auto!important;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.btn').prop("disabled",true);
        function mafct() {
            $('td input:checked').closest("td").addClass('active');
            $('td input[type=radio]').not(':checked').closest("td").removeClass('active');
            var nbr=0;
            var resp=0;
            {% for question in questions %}
            nbr++;
            if($('input[name=question_{{ question.id }}]:checked').val()){
                resp++;
            }
            if($('input[name=question_{{ question.id }}]:checked').val() == 3 || $('input[name=question_{{ question.id }}]:checked').val() == 4){
                $("#question_{{ question.id }}_text").addClass('warning');
                $("#question_{{ question.id }}_text").attr('placeholder','Pour quelle(s) raison(s) ? ')
            }
            else {
                $("#question_{{ question.id }}_text").removeClass('warning');
                $("#question_{{ question.id }}_text").attr('placeholder','')

            }
            {% endfor %}

                $('.btn').prop("disabled",false);
                $('.btn').css("background", "#1197d0");

        }
        mafct();
        $("td").click(function () {
            $(this).find('input:radio').attr('checked', true);
            mafct();
        });

    </script>
{% endblock %}


