{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first" class="clearfix">
                    <h2>{{ page.description }}</h2>
                    <h3>{{ page.titre }}</h3>
                    <form name="first" method="post" id="myForm">
                    <table>
                        <tr>
                            <th>N°</th>
                            <th>PRESTATIONS</th>
                            {% for txt in choices %}
                                <th>{{ txt }}</th>
                            {% endfor %}
                            <th>les raisons pour vos réponses "plutôt non" ou "non pas du tout"</th>
                        </tr>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>{{ question.titre }}<span>{{ question.description }}</span></td>
                                {% for i in 0..(page.nombre-1) %}
                                <td><input type="radio" value="{{ i }}" name="question_{{ question.id }}"></td>
                                {% endfor %}
                                <td><input type="text" name="question_{{ question.id }}_text"></td>
                            </tr>
                        {% endfor %}
                    </table>
                        <input class="btn" type="submit" value="Suivant" name="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .btn {
            border: none;
            padding: 10px;
            color: white;
            float: right;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#myForm").on('change', function () {
            alert('test');
        })
    </script>
{% endblock %}


