{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first" class="clearfix">
                    <h2>{{ page.description }}</h2>
                    <h3>{{ page.titre }}</h3>
                    <form name="first" method="post" id="myForm">
                    <table>
                        <tr>
                            <th>N°</th>
                            <th>PRESTATIONS</th>
                            {% for txt in choices %}
                                <th>{{ txt }}</th>
                            {% endfor %}
                            <th>les raisons pour vos réponses "plutôt non" ou "non pas du tout"</th>
                        </tr>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>{{ question.titre }}<span class="italique">{{ question.description }}</span></td>
                                {% for i in 0..(page.nombre-1) %}
                                <td class="table_input"><input type="radio" value="{{ i }}" id="question_{{ question.id }}" name="question_{{ question.id }}"></td>
                                {% endfor %}
                                <td><textarea type="text" id="question_{{ question.id }}_text" name="question_{{ question.id }}_text"></textarea></td>
                            </tr>
                        {% endfor %}
                    </table>
                        <input class="btn" type="submit" value="Suivant" name="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .active{
            background: #868686;
        }
        textarea {
            width: 320px;
            height: 40px;
            margin: 0px;
        }
        .table_input {
            text-align: center;
        }
        th {
            background-color: #1197d0;
            color: white;
            padding: 5px;
            text-transform: uppercase;
        }
        td {
            /*width: 50px;*/
        }
        .btn {
            border: none;
            padding: 10px;
            color: white;
            margin-top: 35px;
            float: right;
            border-radius: 5px;
        }
        .warning {
            border:1px solid palevioletred;
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("td").click(function () {
            $(this).find('input:radio').attr('checked', true);
            $('td input:checked').closest("td").addClass('active');
            $('td input[type=radio]').not(':checked').closest("td").removeClass('active');
        });
        $("#myForm").on('change', function () {
            {% for question in questions %}
                if($("#question_{{ question.id }}").val()== 3 || $("#question_{{ question.id }}").val()== 4){
                    $("#question_{{ question.id }}_text").addClass('warning');
                    console.log($("#question_{{ question.id }}").val());
                }
                else {
                    $("#question_{{ question.id }}_text").removeClass('warning');
                    console.log($("#question_{{ question.id }}").val());
                }
            {% endfor %}
        })
    </script>
{% endblock %}


